
header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}


header .logo{
    margin-left: 5px;
    color: rgb(65,105,225);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#2F4F4F;
    margin-right: 10px;
}
header{
    background-color: rgb(169,169,169);
}

header nav a:hover{
    color:#008080;

}