button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.button_style{
    background-color: transparent;
    width: 150px;
    height: 30px;
    margin: 8px 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button_style:hover{
    background-color: #ccc;
    color: #fff;
    transition: background-color 0.3s linear;
}